################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/database/calendar.db
/src/database/my-database.db
/src/database/Calendar.sql
