name: Continuous Integration

on:
  pull_request:

  push:
    branches: [ master ]

jobs:
  test-javascript:
    name: JavaScript Tests
    runs-on: ubuntu-latest
    permissions:
        contents: read

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: requirements-txt
        run:  |
          pip install -r requirements.txt
